<div class="container">

    <h1>Articles</h1>

    {{#each articles}}
        <div class="article">
            <h2><a href={{link}} target="_blank">{{headline}}</a></h2>
            <p>{{summary}}</p>     
            <p>{{byline}}</p>
        </div>
        <div class="comments">
            <h3>Comments</h3>
            {{#each comments}}
                <p>{{name}}</p>
                <p>{{body}}</p>
                <p>{{date}}</p>
            {{/each}}
            <form id={{_id}}>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control name">
                    <label for="comment">Comment</label> 
                    <textarea class="form-control comment"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Post</button>
            </form>
        </div>
    {{/each}}
</div>